#titulo { font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   align-self: baseline;
    border-style: solid;
    color: rgb(199, 226, 205);
    border-radius: 10px;
}
#label1{
    font-size : 30;
    font-family:'Courier New', Courier, monospace;
    font-style: initial;
    text-align: center;
  

}

tr{

height: 40px;

}
th {
   size-adjust: auto;


}


  

#Form{

  


}

#estilo1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
  background-color: rgb(115, 212, 159);
  border-radius: 10px;
  font-style:normal;
  
  font-size: large;
}

body{
    background-image:url(fundo.png);
   background-size:contain;

    
}
#btn {
    margin: 150%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(15, 90, 15);
    font-family: arial black;


        
}

#div {
   



}